{block content}
{if $user->loggedIn}
	
    <h1 n:block="title">Vyhledat ošetření</h1>
	
	<p><a n:href="Osetrenis:show">← zpět na stránku ošetření</a></p>
	{control osetreniSearchForm}

	

{/if}	
{/block}

