{block content}
{if $user->loggedIn}
    <h1 n:block="title">Ošetření</h1>
	<p><a n:href="Osetrenis:add">Přidat ošetření</a></p>
	<p><a n:href="Osetrenis:search">Vyhledat ošetření</a></p>
{/if}	
{/block}

