{block content}
{if $user->loggedIn}
	
    <h1 n:block="title">Přidat faktury</h1>

	<div class="returnbutton"> <a n:href="Faktury:show">← zpět na stránku faktur</a></div>
	<div class="form">{control fakturaForm}
		Položky označené * jsou povinné.</div>
{/if}	
{/block}

