{block content}
{if $user->loggedIn}
	<h1 n:block="nazev">Návštěva číslo: {$navsteva->id_navsteva}</h1>
	<ul>
		<li>ID návštěvy: {$navsteva->id_navsteva}</li>
		<li>Datum: {$navsteva->datum}</li>
		<li>Popis: {$navsteva->popis}</li>
		<li>Pacient: {$pacient->jmeno} {$pacient->prijmeni}</li>
		{control navstevaDeleteForm}
	</ul>
{/if}
